{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Form View</h1>
<form method="POST" action=".">
  {% csrf_token %}
  {% comment %}
    {{ form.as_p }}
  {% endcomment %}
  {{ form|crispy }}
  <button type="submit">Submit</button>
  {% comment %}
    {{ form.errors }}
  {% endcomment %}
</form>

<hr />

{% comment %}
    <p>
        <label for="id_email">Email</label>
        <input type="text" id="id_email" name="email" placeholder="Your Email..." />
    </p>
    <p>
        <label for="id_password">Password</label>
        <input type="password" id="id_password" name="password" placeholder="Your Password..." />
    </p>
    <p>
        <input type="checkbox" id="id_remember_me" name="remember_me" value="yes" />
        <label for="id_remember_me">Remember me</label>
    </p>
    <p>
        <input type="radio" id="id_newsletter_1" name="newsletter" value="all" />
        <label for="id_newsletter_1">I want all newsletters</label>
        <br />
        <input type="radio" id="id_newsletter_2" name="newsletter" value="important" />
        <label for="id_newsletter_2">I want only important announcements</label>
    </p>
    <p>
        <label for="id_date">Date</label>
       <input type="date" id="id_date" name="date" />
    </p>
    <p>
        <label for="id_age">Age</label>
        <select id="id_age" name="age">
            <option value="">-----</option>
            <option value="0">0-18</option>
            <option value="19">19-39</option>
            <option value="40">40-59</option>
            <option value="60">60+</option>
        </select>
    </p>
    <p>
        <label for="id_remarks">Remarks</label><br />
        <textarea id="id_remarks" name="remarks" placeholder="Your remarks..."></textarea>
    </p>
     <button type="submit">Submit</button>
</form>
{% endcomment %}


{% endblock %}