<!DOCTYPE html>
{%load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title> My First Website </title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class = "container">
        <h1  style="color: #0092ff">My First Website</h1>
        <hr />
        <p>By doing this homework, I show I can do the following things:</p>
        <ul class ="one">
            <li style = "font-size:1.5em">Start a Django Project</li>
            <li style="font-size:1.3em">Write a HTML code</li>
            <li style="font-size:1.1em">Use CSS to style HTML code</li>
        </ul>
        <p>Click at the image below to go to the page where I was taken from:</p>
        <a href='https://images.unsplash.com/photo-1588364668008-20f0599aea7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60'>
           <img src='https://images.unsplash.com/photo-1588364668008-20f0599aea7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60' />
        </a>
    </div>
    </body>
</html>
